<!DOCTYPE html>
<html lang="en">
  <head>
      <% include partials/head %>
  </head>

  <body>
      <div style="text-align:center">
          <h1>Home page</h1></br>
          <p>You are now at http://localhost:8080/</p>
          <p>The aim of this work is to use Typescript and it is very similar with what we did with Express</p>
          <p>This page will explain you how <strong>/hello </strong> works</p>
          <p>Go to the page http://localhost:8080/hello/<strong>YourName</strong></p>
          <p>Instead of <strong>YourName</strong>, replace it by another name (or word) like <a href="http://localhost:8080/hello/world">http://localhost:8080/hello/world</a></p>
          <p>There will be a button and if you click on it, it will display the metrics</p>
          </br>
          <p>If you try to go to an unknown page like <a  href="http://localhost:8080/blabla">http://localhost:8080/blabla</a> 
            or anything else, it will display you an error message
          </p>
      </div>
    
  </body>

</html>


