<!DOCTYPE html>
<html lang="en">
  <head>
      <% include partials/head %>
  </head>
  <body class="container">
    <div class="col-md-6 col-md-offset-3">
      <h1>Hello <%=name %></h1>
      <br/>
      <button class="btn btn-danger" href="/logout" onClick='document.location.href="/logout"'>
        Logout
      </button>
      <br/><br/><br/>
      <h3>Your metrics : </h3>
      <div id="metrics"></div>
    </div>
    <ul>
      <script>
        $.getJSON("/metrics/<%= name %>", {}, (data) => {
          const content = data.map(d => {
            return '<li> timestamp: '+d.timestamp+', value: '+d.value+'</li>';
          })
          $('#metrics').append(content.join("\n"));
        });
      </script>
    </ul>
  </body>
</html>
